.header {
 display: flex;
 justify-content: space-between;
 align-items: center;
 border: 1px solid black;
}
.logo{
  width: 200px;
}
.nav-items > ul {
  display: flex;
  gap: 20px;
}
.nav-items > ul > li{
  list-style-type: none;
}
.restaurant-card{
  width: 200px;
  height: 300px;
  border: 1px solid black;
}
.search-container{
  margin: 20px 0;
}